.pokedex {
    padding-top: 16px;
}

.filters-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.name-filter {
    width: 80%;
    font-size: 16px;
    padding: 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 16px;
}

.type-filter {
    width: 18%;
}

.type-filter #type-select {
    background-color: #fff;
}

.poke-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    width: 70%;
    margin: 0 auto;
    padding: 16px 5%;
    background-color: #fff;
    height: 85vh;
    overflow: auto;
}

.poke-card {
    display: flex;
    flex-flow: column;
    border: 1px solid #000;
    padding: 12px;
    margin-bottom: 16px;
}

.poke-card .name {
    margin: 0 0 12px 0;
    padding: 0;
}

.poke-card .sprite {
    width: 100%;
    margin-bottom: 12px;
}

.poke-card .info {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    /* For tablets: */
    .poke-list {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }
    .filters-container {
        width: 90%;
    }
  }